* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

body, input, button, .custom {
    background: hsl(185, 41%, 84%);
}

input {
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    padding-right: 10px;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    outline-color: hsl(172, 67%, 45%);
}

#people-input:invalid {
    outline-color: hsl(13, 31%, 53%);
}

/* #people-input::before {

} */

/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.85rem;
}

.title {
    font-size: 0.75rem;
    color: hsl(183, 100%, 15%);
    letter-spacing: 10px;
    text-align: center;
    margin: 5vh;
    /* min-width: 375px; */
}

/* Input Section*/

main {
    background: white;
    border-radius: 1rem;
    min-height: 30vh;
    /* min-width: 375px; */
    display: flex;
    margin: 0 20vh 20vh;
    padding: 25px;
}

@media only screen and (max-width: 1024px) {
    main {
        margin: 5%;
    }
}


@media only screen and (max-width: 767px) {
    main {
        flex-wrap: wrap;
        margin: 0;
    }
}

main input {
    background: hsl(189, 41%, 97%);
}

.user-input {
    color: hsl(186, 14%, 43%);
    width: 100%;
    margin: 25px;
}

.bill img, .people img{
    position: relative;
    bottom: 27px;
    left: 10px;
}

.tips {
    width: 100%;
    margin: 30px 0;
}

.tip-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* box-sizing: border-box; */
}

.tip-buttons h2 {
    font-size: 1.5rem;
}

.tip {
    border: none;
    border-radius: 0.5rem;
    background: hsl(183, 100%, 15%);
    color: white;
    text-align: center;
    flex: 1;
    flex-basis: 50%;
    max-width: 120px;
    height: 3rem;
    margin: 10px 0;
    padding: 0 10px;
    justify-content: space-between;
}

.tip:hover, .reset button:hover {
    background: hsl(173, 61%, 77%);
    color: hsl(183, 100%, 15%);
}

.tip:focus {
    background: hsl(172, 67%, 45%);
    ;
    color: hsl(183, 100%, 15%);
}

#custom {
    background: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    border: none;
    text-align: right;
}

#custom::placeholder {
    color: hsl(186, 14%, 43%);
    text-align: center;
}

/* Total Section */

.totals {
    background: hsl(183, 100%, 15%);
    color: white;
    border-radius: 1rem;
    width: 100%;
    margin: 25px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.totals h3 {
    color: hsl(184, 14%, 56%);
}

.split {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem;
}

.split-amount {
    color: hsl(172, 67%, 45%);
    font-size: 1rem;
    position: relative;
    bottom: 7px;
    text-align: right;
}

.reset button {
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-size: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    padding: 10px 0 10px;
}

.reset button:disabled{
    background: hsl(183, 80%, 24%);
}

/* Footer Section */

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);